@import url(../css/reset.css);
.header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site__logo {
  display: inline-block;
  font-size: 66px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
  padding-left: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 15px;
}

.nav__link {
  margin: 0 40px 0 40px;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.nav__link:hover {
  color: black;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

@media (max-width: 1300px) {
  .nav__link {
    display: none;
  }
}

/* Intro 
======================================*/
.intro {
  height: 100vh;
  background: url(../img/intro-img.jpg) center no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  color: white;
}

.intro__inner {
  padding: 150px 0 0 150px;
  text-align: left;
}

.intro__title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 52px;
  padding-bottom: 25px;
}

.intro__subtitle {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 50px;
}

.intro__img {
  padding: 165px 35px 0;
  text-align: right;
}

/* BUTTON GO TO PAGE 
====================================*/
.button__page {
  display: inline-block;
  padding: 25px 0;
  width: 180px;
  height: 80px;
  background-color: #09A7CA;
  text-align: center;
  text-decoration: none;
  color: white;
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.button__page:hover {
  background-color: #023957;
}

/*====================================*/
/* About Company
========================================*/
.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.ourcompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 113px;
}

.ourcompany__company-img {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 310px 310px;
      grid-template-columns: 310px 310px;
  -ms-grid-rows: 241px;
      grid-template-rows: 241px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-column-end: 2;
}

@media (max-width: 1300px) {
  .ourcompany {
    display: block;
  }
}

.ourcompany__description {
  padding-left: 130px;
  text-align: left;
}

.section__title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #056088;
  padding-bottom: 16px;
}

.section__description {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 16px;
  line-height: 29px;
}

.statistic__title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 16px;
}

.statistic__company {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (130px)[3];
      grid-template-columns: repeat(3, 130px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-weight: 700;
  color: #056088;
  font-size: 20px;
  padding-bottom: 25px;
}

/* Services block
=========================================*/
.services__block {
  margin: 100px 0;
}

.services__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(310px, 240px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(310px, 240px));
  grid-column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item {
  padding: 27px 27px 15px 27px;
}

.services__item {
  text-align: left;
}

.services__item:hover {
  background-image: url("../img/ItemBG.png");
}

.services__item .services__img {
  display: inline-block;
  margin-bottom: 27px;
}

.services__item .svg {
  width: 42px;
  height: 42px;
}

.services__item .item__name {
  margin-bottom: 16px;
}

/* Our benefits
=============================================*/
.carts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32%, 416px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(32%, 416px));
  gap: 20px;
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -70px;
}

.carts__item {
  position: relative;
  width: 416px;
  height: 313px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.carts__content-inner {
  position: absolute;
  left: 0;
  top: 0;
}

.carts__img {
  padding: 54px 0 34px 0;
}

.carts__item-name {
  padding-bottom: 16px;
}

.carts__item-description {
  margin: 0 57px;
}

/* Our Works Block
=========================================*/
.works__bg {
  height: 1600px;
  width: 100%;
  background: url("../img/Rectangle.jpg") no-repeat;
  background-size: cover;
  margin-bottom: -150px;
}

.section__title--white {
  padding: 250px 0 25px 0;
  color: white;
}

.section__description--white {
  color: white;
}

.works__gallery {
  margin-bottom: 60px;
}

.works__gallery_items {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: "left" "central" "right";
  -ms-grid-columns: (420px)[3];
      grid-template-columns: repeat(3, 420px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1300px) {
  .works__gallery_items {
    -ms-grid-columns: (minmax(420px, 420px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(420px, 420px));
  }
}

.left__block {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left";
}

.central__block {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "central";
  grid-gap: 20px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-rows: 277px 163px;
      grid-template-rows: 277px 163px;
  -ms-grid-columns: ()[420px];
      grid-template-columns: repeat(420px);
}

.right__block {
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 118px)/repeat(2, 200px);
      grid-template-areas: "right";
  grid-gap: 20px;
}

.button__page--works {
  margin-bottom: 82px;
}

/* Clients Block
========================================*/
.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.clients__content .left__block {
  text-align: left;
  height: 330px;
  width: 320px;
  background-color: white;
}

.clients__content .left__block_inner {
  padding: 51px 33px 0 32px;
}

.clients__content .right__block {
  background: url("../img/clientsIMG.jpg") center no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
}

.clients__content .right__block .right__block_comment {
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 416px;
  height: 266px;
  background-color: #056088;
}

.clients__content .right__block .right__block_comment .client__photo {
  margin-top: -65px;
  margin-left: -370px;
}

.clients__content .right__block .right__block_comment .carts__item-description--clients {
  text-align: left;
  padding: 0 0 24px 50px;
  color: white;
  font-size: 16px;
  font-style: italic;
}

/* Our Partners Block
===================================================*/
.partners__block {
  margin: 300px 100px;
}

.partners__block .row__name_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners__block .co__name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.partners__block .video__inner {
  margin-top: 109px;
  position: relative;
}

.partners__block .video__inner .video__partners {
  width: 1080px;
  height: 512px;
}

@media (max-width: 1000px) {
  .video__partners {
    width: 100%;
  }
}

/* Subscribe Block
========================================*/
.subscribe__block {
  margin-top: -200px;
  max-width: 1300px;
  background: url("../img/submitFormBG.png") center no-repeat;
  background-size: cover;
}

.subscribe__block_inner .intro__title--subscribe {
  padding-top: 55px;
  color: white;
}

.subscribe__block_inner .section__description--subscribe {
  color: white;
}

.subscribe__block_inner .submit__form_main {
  padding-bottom: 54px;
}

.subscribe__block_inner .submit__form_main .form__main_page {
  width: 640px;
  position: relative;
  margin: 0 auto;
}

.subscribe__block_inner .submit__form_main .form__main_page .input__main_page {
  width: 100%;
  height: 62px;
}

.subscribe__block_inner .submit__form_main .form__main_page .submit__button_main {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 138px;
  height: 62px;
  outline: none;
  color: white;
  border: #056088;
  text-align: center;
  cursor: pointer;
  background-color: #056088;
}

.subscribe__block_inner .submit__form_main .form__main_page .submit__button_main:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  background-color: #023957;
}

/* Footer 
=============================================*/
.footer {
  width: 100%;
  background-color: #023957;
  margin-top: 100px;
  height: auto;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 30px 0 50px;
  justify-content: center;
}

.footer__inner_left {
  text-align: left;
  margin-bottom: 30px;
}

.footer__inner_left .site__logo--footer {
  text-align: left;
}

.footer__inner_left .footer__address {
  white-space: nowrap;
  margin: 16px 0 32px 0;
  text-align: left;
}

.footer__inner .footer__list_block {
  padding-left: 150px;
  margin: 30px 0 30px 0;
}

.footer__inner .footer__list_block:first-child {
  padding-left: 0px;
}

.footer__inner .footer__list_title {
  text-align: left;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 32px;
}

.footer__inner .footer__list {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-family: 'Poppins';
  text-decoration: none;
}

.footer__inner .footer__list .list__item {
  margin-bottom: 20px;
}

.footer__inner .footer__list .footer__list_inner {
  color: white;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

/* Page About
============================  */
.intro--page {
  height: 490px;
}

.intro__inner--page {
  text-align: center;
}

.top__about {
  margin-top: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.top__about .l__block {
  position: relative;
  height: 530px;
  width: 50%;
  background-image: url("../img/AboutLeftBigImg.png");
  background-size: cover;
}

.top__about .l__block .l__block_img {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: -50px;
}

.top__about .r__block {
  text-align: left;
  width: 50%;
  margin-left: 100px;
}

.top__about .r__block .section__description--about {
  color: black;
}

.down__block {
  margin: 75px 0;
  background: url("../img/AboutDownBG.png") center no-repeat;
  background-size: cover;
  background-color: #023957;
}

.down__block .down__block_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 0;
  text-align: left;
}

.down__block .down__block_inner .down__block_description {
  width: 50%;
}

.down__block .down__block_inner .down__block_description .section__title--down {
  color: white;
}

.down__block .down__img {
  margin-left: 150px;
  width: 50%;
}

@media (max-width: 1000px) {
  .top__about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .down__block_inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */